.nav-element{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.nav-list{
    display: flex;
    align-items: center;
    color:#fff;
    list-style: none;
    margin:  1rem 2rem;

}
.nav-list a{
    color:#fff;
    text-decoration: none;
}

.nav-icon{
    width: 18px;
    height: 18px;
    margin: 0  15px 0 0;
}

.nav-element:hover{
    background-color: #3C153B;
    cursor: pointer;
}

.count{
    border-radius: 20px;   
  border: 2px solid #FFF;
  width: 20px;
  height: 20px;  
  background-color: #8B1E3F;
  position: absolute;
  
  right: 10%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  font-weight: 700;
}

